language: cpp
notifications:
  email: false

matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources: ['george-edison55-precise-backports']
          packages: ['cmake-data', 'cmake', 'python3', 'python3-pip']
      env:

    - os: osx
      osx_image: xcode10.2
      compiler: gcc
      language: generic
      env:
        - COMPILER=g++
        - COMP=gcc
        - INSTALL_TYPE=macpython VERSION=3.6 VENV=venv

before_install: |
  if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    git clone https://github.com/MacPython/terryfy.git
    # Avoid printing the lines from the script below.
    source terryfy/travis_tools.sh
    get_python_environment $INSTALL_TYPE $VERSION $VENV
  fi

script:
      - pyenv versions
      - if [ "$TRAVIS_OS_NAME" == "linux" ]; then pyenv global 3.7 ; fi
      - cmake -D_BTYPE=POPCNT .
      - make -j2
      - cmake -D_MAKE_UNIT_TEST=UNIT_TEST -D_BTYPE=POPCNT .
      - make -j2
      - cd tests
      - pip install --upgrade pip
      - pip --version
      - python -V
      - pip install python-chess futures
      - python ci.py