version: 1.0.{build}
clone_depth: 50

os: Visual Studio 2017

platform:
  - x64

configuration:
  - Release

environment:
  matrix:
    - PYTHON: "C:\Python36-x64"

install:
  - SET PATH=%PYTHON%;%path%

init:
  - cmake --version

before_build:
  - git submodule update --init --recursive

build_script:
  - cmake -G "Visual Studio 15 2017 Win64" .
  - cmake --build . --target ALL_BUILD --config %CONFIGURATION%
  - cp %CONFIGURATION%\igel.exe igel
  - cp %CONFIGURATION%\unit.exe unit.exe
  - pip2 install --user python-chess futures
  - cd tests
  - python ci.py
